@font-face {
    font-family: "roboto";
    src: 
        url("./fonts/roboto-variablefont_wdthwght-webfont.woff2") format("woff2"),
        url("./fonts/roboto-variablefont_wdthwght-webfont.woff") format("woff");
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "roboto", sans-serif;
}

button {
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
}

#new {
    margin: 0px 10px;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#input {
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 25px;
    background-color: rgb(58, 128, 58);
    border-right: 1px solid black;
}

#input > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

form {
    display: none;
}

form > div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

input {
    padding: 5px;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    align-content: start;
    gap: 10px;
    padding: 25px;
    background-color: rgb(158, 99, 52);
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
    background-color: rgb(222, 204, 181);
}

.read {
    background-color: rgb(58, 128, 58);
}

.not-read {
    background-color: rgb(197, 48, 48);
}